---
import Layout from '../layouts/Layout.astro';
import Team from '../components/Team.astro';
---

<Layout
  title="Amenities | Palma Miami Beach | Luxury Condos in Miami Beach"
  description="At Palma, quality reigns supreme, with every amenity thoughtfully curated for your lifestyle. View our services and amenities, including the Palma Beach Club."
>
  <Team />
  <section class="green-text-box">
    <h2>Developer | Lefferts</h2>
    <p>
      Lefferts is an unrivaled force in the realm of privately owned real estate
      development in New York and South Florida.
    </p>
    <p>
      Established in the vibrant landscape of New York City, Lefferts emerges as
      a preeminent force in the domain of privately owned real estate
      development, boasting a rich legacy spanning over two decades.
    </p>
    <p>
      With a steadfast dedication to excellence and sustainability, Lefferts
      crafts exceptional residential and commercial properties that transcend
      conventional boundaries, embodying innovation, quality, and inclusivity.
    </p>
    <p>
      At the heart of Lefferts' mission lies a commitment to redefine urban
      living through visionary design and meticulous attention to detail.
    </p>
    <p>
      Its diverse portfolio showcases a spectrum of offerings, from opulent
      condominium buildings to dynamic mixed-use developments and upscale retail
      spaces, dotting the skylines of New York and South Florida.
    </p>
    <p>
      Throughout its journey, Lefferts has remained at the forefront of the
      industry, spearheading the co-development of over 3 million square feet of
      mixed-use space and channeling investments exceeding $1.5 billion into a
      myriad of real estate ventures.
    </p>
    <p>
      Collaborative ventures with esteemed architects, exemplified by the iconic
      partnership with Renzo Piano for the landmark 565 Broome SoHo, underscore
      Lefferts' commitment to architectural innovation and aesthetic prowess.
    </p>
    <p>
      Not content with mere construction, Lefferts catalyzes transformative
      projects that transcend brick and mortar, revitalizing entire
      neighborhoods and reshaping urban landscapes.
    </p>
    <p>
      Projects like Astoria North stand as testament to Lefferts' vision,
      leaving an indelible imprint on the fabric of communities, fostering local
      pride, and serving as beacons of distinction within their respective
      cities.
    </p>
    <p>
      In essence, Lefferts epitomizes the epitome of real estate development,
      seamlessly blending vision, expertise, and ingenuity to create spaces that
      transcend the ordinary, leaving an enduring legacy of excellence and
      innovation in its wake.
    </p>
  </section>
  <!-- gallery -->
  <section class="green-text-box">
    <h2>ARCHITECTURE | BUILT FORM</h2>
    <p>
      Built Form, LLC is a full service architectural firm with offices located
      in Chicago, North Carolina and Miami. For the past 16 years, the
      principals of Built Form have built a practice that combines the creative
      energies of a boutique design firm with the technical capabilities of a
      larger firm to create an organization that has executed projects of
      varying scale, type and complexity. Their project types include
      non-for-profit community base projects, retail, commercial, hotels and a
      full range of multi-family housing types including mixed-use, co-living,
      historical and government funded.
    </p>
  </section>
  <!-- gallery -->
  <section class="green-text-box">
    <h2>INTERIOR DESIGN | STUDIO RAMIREZ</h2>
    <p>
      Studio Ramirez is a Miami-based, international design studio headed by
      creative director, Ruby Ramirez. Defining a new era of luxury interiors,
      Studio Ramirez is the fresh iteration of a 20+ year history in interior
      design. The studio's growing portfolio is a tribute to our ability to
      overcome diverse design challenges with poignant scheme solutions.
    </p>
    <p>
      Our ever-expanding scope of work which includes; residential interior
      design, interior architecture, hospitality interior design, hospitality
      programming and FF&E design. Our goal as a firm is to create lasting
      interiors that evoke the senses while creating memorable experiences.
    </p>
    <p>
      Our tagline "Not The Miami You Think It Is" may best sum-up our thoughtful
      aesthetic, the likely anthesis to the "shiny white, shiny, shiny"
      stereotype. What sets Studio Ramirez apart is their international design
      exposure and perpetual curiosity to find new and unique makers and
      artisans across the globe. We prefer to go the extra length, curating
      unseen pieces for our client's environments. With our shop-the-globe ethos
      . . . this is often where the magic happens. Clients experience the
      journey and develop a direct relationship with finding amazing furniture,
      fabrics and rugs for their home. Our residential projects are uniquely
      layered and reflect a thoughtfully curated home. Studio Ramirez clients
      are often repeat clients which makes the narrative even more interesting
      the second or third time around.
    </p>
  </section>
  <!-- gallery -->
  <section class="green-text-box">
    <h2>SALES & MARKETING | CERVERA</h2>
    <p>
      Cervera Real Estate is a South Florida-based family-owned and operated
      real estate company. Their over half-century transformation of the South
      Florida landscape has proven that personalized customer service ensures
      clients’ satisfaction. A far-reaching and unrivaled international network
      and decades on the ground have cultivated unique and long-lasting
      relationships with developers, architects, investors, and real estate
      firms that are crucial to the success of clients and partners.
    </p>
  </section>
  <!-- gallery -->
</Layout>
