---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

interface Props {
  lang?: 'en' | 'es' | 'pt';
}

const { lang } = Astro.props;
const currentLang = lang || getLangFromUrl(Astro.url);
const t = useTranslations(currentLang);
---

<section class="gallery-section">
  <div class="gallery-container-image">
    <div class="gallery-header">
      <h2 class="gallery-title">{t('gallery.title')}</h2>
      <div class="gallery-subtitle">
        <p>
          <span>Palma</span>
          {t('gallery.subtitle.start')}
          <span>Palma</span>
          {t('gallery.subtitle.middle')}
        </p>
      </div>
    </div>

    <div class="gallery-grid desktop-order">
      <div class="gallery-item" data-id="1">
        <img
          src="/images/gallery/water-gallery.webp"
          alt={t('gallery.images.water')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="2">
        <img
          src="/images/gallery/party-gallery.webp"
          alt={t('gallery.images.party')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="3">
        <img
          src="/images/gallery/surfing-gallery.webp"
          alt={t('gallery.images.surfing')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="4">
        <img
          src="/images/gallery/sunset-gallery.webp"
          alt={t('gallery.images.sunset')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="5">
        <img
          src="/images/gallery/neighborhood-gallery.webp"
          alt={t('gallery.images.neighborhood')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item gallery-item--big" data-id="6">
        <img
          src="/images/gallery/relaxing-gallery.webp"
          alt={t('gallery.images.relaxing')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="7">
        <img
          src="/images/gallery/shop-gallery.webp"
          alt={t('gallery.images.shop')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="8">
        <img
          src="/images/gallery/jetski-gallery.webp"
          alt={t('gallery.images.jetski')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="9">
        <img
          src="/images/gallery/fun-gallery.webp"
          alt={t('gallery.images.fun')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="10">
        <img
          src="/images/gallery/drinks-gallery.webp"
          alt={t('gallery.images.drinks')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="11">
        <img
          src="/images/gallery/building-gallery.webp"
          alt={t('gallery.images.building')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="12">
        <img
          src="/images/gallery/woman-gallery.webp"
          alt={t('gallery.images.woman')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="13">
        <img
          src="/images/gallery/table-gallery.webp"
          alt={t('gallery.images.table')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item gallery-item--full-width" data-id="14">
        <img
          src="/images/gallery/good-life-gallery.webp"
          alt={t('gallery.images.goodLife')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="15">
        <img
          src="/images/gallery/coffee-gallery.webp"
          alt={t('gallery.images.coffee')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item gallery-item--tall" data-id="16">
        <img
          src="/images/gallery/woman-2-gallery.webp"
          alt={t('gallery.images.woman2')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="17">
        <img
          src="/images/gallery/tennis-gallery.webp"
          alt={t('gallery.images.tennis')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="18">
        <img
          src="/images/gallery/tree-gallery.webp"
          alt={t('gallery.images.tree')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="19">
        <img
          src="/images/gallery/walking-gallery.webp"
          alt={t('gallery.images.walking')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="20">
        <img
          src="/images/gallery/golf-gallery.webp"
          alt={t('gallery.images.golf')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="21">
        <img
          src="/images/gallery/cheers-gallery.webp"
          alt={t('gallery.images.cheers')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="22">
        <img
          src="/images/gallery/bicycle-gallery.webp"
          alt={t('gallery.images.bicycle')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="23">
        <img
          src="/images/gallery/beach-gallery.webp"
          alt={t('gallery.images.beach')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item gallery-item--big" data-id="24">
        <img
          src="/images/gallery/picture-gallery.webp"
          alt={t('gallery.images.picture')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="25">
        <img
          src="/images/gallery/leaves-gallery.webp"
          alt={t('gallery.images.leaves')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="26">
        <img
          src="/images/gallery/sushi-gallery.webp"
          alt={t('gallery.images.sushi')}
          loading="lazy"
        />
      </div>
    </div>

    <div class="gallery-grid mobile-order">
      <div class="gallery-item" data-id="1">
        <img
          src="/images/gallery/water-gallery.webp"
          alt={t('gallery.images.water')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="2">
        <img
          src="/images/gallery/party-gallery.webp"
          alt={t('gallery.images.party')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="3">
        <img
          src="/images/gallery/surfing-gallery.webp"
          alt={t('gallery.images.surfing')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="4">
        <img
          src="/images/gallery/sunset-gallery.webp"
          alt={t('gallery.images.sunset')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="5">
        <img
          src="/images/gallery/neighborhood-gallery.webp"
          alt={t('gallery.images.neighborhood')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="7">
        <img
          src="/images/gallery/shop-gallery.webp"
          alt={t('gallery.images.shop')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item gallery-item--big" data-id="6">
        <img
          src="/images/gallery/relaxing-gallery.webp"
          alt={t('gallery.images.relaxing')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="8">
        <img
          src="/images/gallery/jetski-gallery.webp"
          alt={t('gallery.images.jetski')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="9">
        <img
          src="/images/gallery/fun-gallery.webp"
          alt={t('gallery.images.fun')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="10">
        <img
          src="/images/gallery/drinks-gallery.webp"
          alt={t('gallery.images.drinks')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="11">
        <img
          src="/images/gallery/building-gallery.webp"
          alt={t('gallery.images.building')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="12">
        <img
          src="/images/gallery/woman-gallery.webp"
          alt={t('gallery.images.woman')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="13">
        <img
          src="/images/gallery/table-gallery.webp"
          alt={t('gallery.images.table')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item gallery-item--full-width" data-id="14">
        <img
          src="/images/gallery/good-life-gallery.webp"
          alt={t('gallery.images.goodLife')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="15">
        <img
          src="/images/gallery/coffee-gallery.webp"
          alt={t('gallery.images.coffee')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="19">
        <img
          src="/images/gallery/walking-gallery.webp"
          alt={t('gallery.images.walking')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item gallery-item--tall" data-id="16">
        <img
          src="/images/gallery/woman-2-gallery.webp"
          alt={t('gallery.images.woman2')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="17">
        <img
          src="/images/gallery/tennis-gallery.webp"
          alt={t('gallery.images.tennis')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="18">
        <img
          src="/images/gallery/tree-gallery.webp"
          alt={t('gallery.images.tree')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="20">
        <img
          src="/images/gallery/golf-gallery.webp"
          alt={t('gallery.images.golf')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="21">
        <img
          src="/images/gallery/cheers-gallery.webp"
          alt={t('gallery.images.cheers')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="22">
        <img
          src="/images/gallery/bicycle-gallery.webp"
          alt={t('gallery.images.bicycle')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="23">
        <img
          src="/images/gallery/beach-gallery.webp"
          alt={t('gallery.images.beach')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="25">
        <img
          src="/images/gallery/leaves-gallery.webp"
          alt={t('gallery.images.leaves')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item" data-id="26">
        <img
          src="/images/gallery/sushi-gallery.webp"
          alt={t('gallery.images.sushi')}
          loading="lazy"
        />
      </div>
      <div class="gallery-item gallery-item--big" data-id="24">
        <img
          src="/images/gallery/picture-gallery.webp"
          alt={t('gallery.images.picture')}
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
