---
import Layout from '../../layouts/Layout.astro';
import Team from '../../components/Team.astro';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

export function getStaticPaths() {
  return [{ params: { lang: 'es' } }, { params: { lang: 'pt' } }];
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout
  title={t('team.meta.title')}
  description={t('team.meta.description')}
  lang={lang}
>
  <Team lang={lang} />
  <section class="green-text-box">
    <h2>{t('team.developer.title')}</h2>
    <p>
      {t('team.developer.paragraph1')}
    </p>
    <p>
      {t('team.developer.paragraph2')}
    </p>
    <p>
      {t('team.developer.paragraph3')}
    </p>
    <p>
      {t('team.developer.paragraph4')}
    </p>
    <p>
      {t('team.developer.paragraph5')}
    </p>
    <p>
      {t('team.developer.paragraph6')}
    </p>
    <p>
      {t('team.developer.paragraph7')}
    </p>
    <p>
      {t('team.developer.paragraph8')}
    </p>
    <p>
      {t('team.developer.paragraph9')}
    </p>
    <p>
      {t('team.developer.paragraph10')}
    </p>
  </section>
  <img
    class="team-gallery"
    src="/images/team/gallery1.jpg"
    alt={t('team.gallery.image1')}
  />
  <section class="green-text-box">
    <h2>{t('team.architecture.title')}</h2>
    <p>
      {t('team.architecture.paragraph1')}
    </p>
  </section>
  <img
    class="team-gallery"
    src="/images/team/gallery2.jpg"
    alt={t('team.gallery.image2')}
  />
  <section class="green-text-box">
    <h2>{t('team.interiorDesign.title')}</h2>
    <p>
      {t('team.interiorDesign.paragraph1')}
    </p>
    <p>
      {t('team.interiorDesign.paragraph2')}
    </p>
    <p>
      {t('team.interiorDesign.paragraph3')}
    </p>
  </section>
  <img
    class="team-gallery space"
    src="/images/team/gallery3.jpg"
    alt={t('team.gallery.image3')}
  />
  <section class="green-text-box">
    <h2>{t('team.salesMarketing.title')}</h2>
    <p>
      {t('team.salesMarketing.paragraph1')}
    </p>
  </section>
  <img
    class="team-gallery"
    src="/images/team/gallery4.jpg"
    alt={t('team.gallery.image4')}
  />
</Layout>
